{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'inicio' %}">
                <img src="{% static 'images/logoTutormates.png' %}" alt="TutorMates Logo" class="icono-img d-inline-block align-text-top me-2">
                TUTORMATES
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Control de inicio y cerrado de sesión -->
                {% if request.user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if section == 'inicio' %}active{% endif %}" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if section == 'tutorias' %}active{% endif %}" aria-current="page" href="{% url 'tutorias' %}">Tutorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if section == 'tutores' %}active{% endif %}" aria-current="page" href="{% url 'tutores' %}">Tutores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if section == 'mis_inscripciones' %}active{% endif %}" aria-current="page" href="{% url 'mis_inscripciones' %}">Mis tutorias</a>
                        </li>
                        {% if request.user.rol and request.user.rol.id == 2 %}
                        <li class="nav-item">
                            <a class="nav-link {% if section == 'crear_tutorias' %}active{% endif %}" href="{% url 'crear_tutoria' %}">Crear Tutorías</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if section == 'perfil' %}active{% endif %}" href="{% url 'perfil' %}">Perfil</a>
                        </li>
                        {% if request.user.rol and request.user.rol.id == 3 %}
                        <li class="nav-item">
                            <a class="nav-link {% if section == 'admin_dashboard' %}active{% endif %}" href="{% url 'admin_dashboard' %}">Admin</a>
                        </li>
                        {% endif %}
                    </ul>
                    <span class="navbar-text">
                        Hola {{ request.user.first_name|default:request.user.username }},
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-success btn-sm">Cerrar sesión</button>
                        </form>
                    </span>
                </div>
                
                {% else %}
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Mensajes Flash -->
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Contenido -->
    <div class="container py-5 content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="text-center py-3 bg-light">
        <p class="mb-0">&copy; 2025 TutorMates. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-pcE2vFyRZl1iycHbdTYlU8BQO2n5bn9VoRrHwOb8ogKbc/3b0oZK0WLaMKu5QyTG" crossorigin="anonymous"></script>

</body>
</html>