{% extends "base.html" %}

{% block title %}Crear Rol{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Crear Rol</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Renderizar el formulario -->
        {{ form.as_p }}

        <!-- Botones -->
        <button type="submit" class="btn btn-primary">Crear Categoría</button>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
