{% extends "base.html" %}

{% block title %}Editar Categoría{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Editar Categoría</h1>

    <form method="post">
        {% csrf_token %}
        
        <!-- Renderizar el formulario -->
        {{ form.as_p }}

        <!-- Botones -->
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}